<header>
    <div class="container">
        <div class="header__content">
            <div class="nav__right">
                <ul class="nav nav__list">
                    <li class="nav__item">
                        <a class="nav__link" data-bs-toggle="tab" routerLink="user">Users</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" data-bs-toggle="tab" routerLink="hotel">Hotels</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" data-bs-toggle="tab" routerLink="room">Rooms</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" data-bs-toggle="tab" routerLink="reservation">Reservations</a>
                    </li>
                </ul>
            </div>
            <div class="nav__left">
                <ul class="nav__list d-flex align-items-center">
                    <li><a class="nav__link" href="">HOME</a></li>
                    <li>
                        <a class="nav__link" (click)="onLogout()">LOGOUT</a>
                    </li>
                    <li class="pe-3">
                        <img src="{{ loggedInUser.profileImageUrl }}" style="width: 40px" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>